*.o
*.a
*.so
*.lib
*.dll
*.exe
!generate module uuid windows.exe
.git
/build
server_dev_tools/build/
server_dev_tools/source_code/*
!server_dev_tools/source_code/CMakeLists.txt
Doxyfile.bak
docs/html
docs/latex
r-type_client
r-type_server
r-type_tests
/out
.vscode
.vs
vgcore*
r-types